@charset "UTF-8";
body {
  font-size: 14.4px;
  font-weight: normal;
  font-family: "メイリオ", "Meiryo", sans-serif;
  background-color: #FFFFFF;
  margin: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.content__wrap {
  width: 100%;
  max-width: 960px;
  padding-block: 10px;
  padding-inline: 4%;
  margin-inline: auto;
}

.header {
  width: 100%;
  max-width: 960px;
  padding-block: 10px;
  padding-inline: 4%;
  margin-inline: auto;
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__inner .header__logo {
  height: 40px;
}
.header .header__inner .header__logo .header__logo-img {
  width: auto;
  height: 100%;
}
.header .header__inner .header__nav {
  margin-right: 2px;
}
.header .header__inner .header__nav .header__nav-list {
  display: flex;
  gap: 0 33px;
  list-style: none;
}
.header .header__inner .header__nav .header__nav-list .header__nav-item--link {
  color: #383E45;
}

.footer {
  text-align: center;
  padding-bottom: 10px;
}

.mv {
  width: 100%;
  height: 600px;
}
.mv .mv__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  margin-top: 80px;
}
.about .section__ttl-wrap {
  text-align: center;
  margin-bottom: 66px;
}
.about .section__ttl-wrap .section__ttl {
  display: inline-block;
  position: relative;
  font-size: 32px;
  font-weight: bold;
}
.about .section__ttl-wrap .section__ttl::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #383E45;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .about .section__ttl-wrap {
    margin-bottom: 60px;
  }
}
.about .about-content {
  padding-inline: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about .about-content {
    flex-direction: column;
    padding-inline: 0;
  }
}
.about .about-content .about-content__img-wrap {
  width: 100px;
}
@media screen and (max-width: 768px) {
  .about .about-content .about-content__img-wrap {
    margin-bottom: 10px;
  }
}
.about .about-content .about-content__img-wrap .about-content__img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.about .about-content .about-content__text {
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .about .about-content .about-content__text {
    width: 100%;
    margin-left: 0;
  }
}
.about .about-content .about-content__text .about-content__text-ttl {
  font-size: 16px;
  margin-bottom: 10px;
}
.about .about-content .about-content__text .about-content__text-paragraph {
  line-height: 1.8;
}

.bicycle {
  margin-top: 96px;
  margin-bottom: 110px;
}
@media screen and (max-width: 768px) {
  .bicycle {
    margin-top: 100px;
    margin-bottom: 139px;
  }
}
.bicycle .section__ttl-wrap {
  text-align: center;
  margin-bottom: 60px;
}
.bicycle .section__ttl-wrap .section__ttl {
  display: inline-block;
  position: relative;
  font-size: 32px;
  font-weight: bold;
}
.bicycle .section__ttl-wrap .section__ttl::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #383E45;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bicycle .Bicycle-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bicycle .Bicycle-content {
    flex-direction: column;
  }
}
.bicycle .Bicycle-content .Bicycle-content__box {
  width: calc((100% - 32px) / 3);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .bicycle .Bicycle-content .Bicycle-content__box {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .bicycle .Bicycle-content .Bicycle-content__box:last-of-type {
    margin-bottom: 0;
  }
}
.bicycle .Bicycle-content .Bicycle-content__box .Bicycle-content__img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.bicycle .Bicycle-content .Bicycle-content__box .Bicycle-content__ttl {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}
.bicycle .Bicycle-content .Bicycle-content__box .Bicycle-content__paragraph {
  line-height: 1.2;
}

/*# sourceMappingURL=style.css.map */
