// 初期設定
@use "../setting/config";

.header {
    width: 100%;
    max-width: config.$minPcContentWidth;
    padding-block: 10px;
    padding-inline: 4%;
    margin-inline: auto;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .header__logo {
            height: 40px;
            .header__logo-img {
                width: auto;
                height: 100%;
            }
        }
        .header__nav {
            margin-right: 2px;
            .header__nav-list {
                display: flex;
                gap: 0 33px;
                list-style: none;
                .header__nav-item--link {
                    color: config.$fontColor;
                }
            }
        }
    }
}