// ブレイクポイント
$breakpoints: (
    'sm': 'screen and (max-width: 576px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 992px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

// 画像格納ディレクトリ
$imgDir: '../img/';

// PCレイアウト時の最小横幅
$minPcContentWidth: 960px;

// サイトで使用するカラー
$fontColor: #383E45;
$baseColor: #FFFFFF;

// font-size
$secTtlSize: 32px;
$secSubTtlSize: 16px;